# Terraform state
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# AWS credentials
.aws/
credentials

# macOS
.DS_Store